<mowe-tabs>
    <mowe-tab class="selected">
        <span>Tab 1 title</span>
    </mowe-tab>

    <mowe-tab>
        <span>Tab 2 title</span>
    </mowe-tab>

    <mowe-tab>
        <span>Tab 3 title</span>
    </mowe-tab>

    <mowe-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a lacus quis justo gravida vehicula in eu orci. Donec facilisis lorem dolor, eu viverra nisi fermentum sit amet. Vivamus eu libero dictum sem placerat vehicula eget vel urna. Sed at gravida ex. In hac habitasse platea dictumst. Nulla nibh enim, consequat et vehicula vel, iaculis quis nunc. Suspendisse potenti. Mauris at leo justo.</mowe-content>
</mowe-tabs>
